.root {
  font-family: var(--title-font-family);
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  margin: 40px auto;
  width: 100%;
  text-align: center;
}

.contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  font-family: var(--title-font-family);
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px var(--accent-color);
  // margin: 40px auto;
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
  &:hover, &:focus {
    padding: 1px;
    border: 0;
    background-image: var(--pink-gradient);
    color: var(--black);
  }
}

.footerButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1260px;
  margin: 40px auto;
}


@media (min-width: 768px) {
  .root {
    font-size: 24px;
    margin: 60px auto;
  }

  .contactBtn {
    width: 99px;
    height: 40px;
    font-size: 16px;
  }

  .footerButtons {
    margin: 60px auto;
  }
}

@media (min-width: 1200px) {
  .root {
    font-size: 36px;
    margin: 120px auto;
  }
  
  .contactBtn {
    width: 134px;
    height: 48px;
    font-size: 20px;
  }
}
