.main {
  height: 100%;
  background-color: var(--footer-color);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 35px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3 {
  text-align: center;
  font-family: var(--card-title-font-family);
  font-size: var(--card-title-font-size);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--high-contrast-text);
  margin-bottom: 20px;
}

.email {
  display: block;
  font-family: var(--card-subtext-font-family);
  font-size: var(--card-subtext-font-size);
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
  margin: 10px auto 20px auto;
  &:visited {
    color: var(--black);
  }
  &:hover {
    color: var(--black);
  }
}

.socialLinks {
  margin: 20px auto 0px;
  width: max-content;
  color: var(--high-contrast-text);
}

.socialLink {
  display: inline-block;
  width: 25px;
  // height: 25px;
  margin: 0px 7px;

  & img {
    width: inherit;
  }
}

.linkedin {
  display: inline-block;
  width: 29px;
  // height: 25px;
  margin: 0px 7px;

  & img {
    width: inherit;
  }
}

@media (min-width: 768px) {
  .main {
    padding: 36px 77px;
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 60px;
  }
}