.main {
  height: 100%;
  background-color: var(--footer-color);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 35px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3 {
  text-align: center;
  font-family: var(--card-title-font-family);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--high-contrast-text);
  margin-bottom: 20px;
}

.email {
  display: block;
  font-family: var(--card-title-font-family);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
  margin: 10px auto 20px auto;
  &:visited {
    color: var(--black);
  }
  &:hover {
    color: var(--black);
  }
}

.socialLinks {
  margin: 20px auto 0px;
  width: max-content;
  color: var(--high-contrast-text);
}

.boxedLink {
  width: 119px;
  height: 36px;
  margin: 22px 62px 0;
  padding: 9px 33px 10px 31px;
  border-radius: 8px;
  background-color: var(--black);
  font-family: var(--card-title-font-family);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--high-contrast-text);
}

@media (min-width: 768px) {
  .main {
    padding: 36px 77px;
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 60px;
  }
}