.bannerPadding {
  width: 100%;
  text-align: center;
}

.bannerHeader {
  font-family: Inter;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
  margin-bottom: 3px;
}

.bannerSubtext {
  margin: 0;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

@media (min-width: 768px) {
  .bannerHeader {
    font-size: 36px;
    margin-bottom: 5px;
  }

  .bannerSubtext {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  
}