.banner {
  width: 100%;
  text-align: center;
}

.bannerHeader {
  margin-bottom: 5px;
}

.bannerSubtext {
  margin-top: 5px;
  font-family: var(--card-subtext-font-family);
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

@media (min-width: 768px) {
  .bannerHeader {
    margin-bottom: 5px;
  }

  .bannerSubtext {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .bannerHeader {
    margin-bottom: 5px;
  } 

  .bannerSubtext {
    font-size: 30px;
  }
}