.banner {
  width: 100%;
  text-align: center;
}

.bannerHeader {
  margin: 5px auto;
}

.bannerSubtext {
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.overviewHeader {
  color: var(--text-color);
  margin: 10px auto;
  font-weight: bold;
}

.overviewText {
  font-family: var(--body-font-family);
  font-size: 16px;
}

@media (min-width: 768px) {
  .bannerHeader {
    margin: 6px auto;
  }
  
  .bannerSubtext {
    font-size: 24px;
  }

  .overviewText {
    font-size: 22px;
    margin: 10px auto;
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (min-width: 1200px) {
  .bannerHeader {
    margin: 4px auto;
  } 
  
  .bannerSubtext {
    font-size: 32px;
  }

  .overviewText {
    font-size: 30px;
    margin: 15px auto;
    padding: 0px;
  }
}