.banner {
  width: 100%;
  text-align: left;
  margin-bottom: 80px;
}

.bannerHeader {
  text-align: center;
  margin: 5px auto;
}

.overviewHeader {
  color: var(--text-color);
  margin: 10px auto;
  font-weight: bold;
  text-align: left;
}

.overviewText {
  font-family: var(--body-font-family);
  font-size: 16px;
}

@media (min-width: 768px) {
  .banner {
    margin-bottom: 100px;
  }
  .bannerHeader {
    margin: 6px auto;
  }
  
  .overviewText {
    font-size: 22px;
    margin: 10px auto;
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (min-width: 1200px) {
  .banner {
    margin-bottom: 200px;
  }
  .bannerHeader {
    margin: 200px auto;
  } 
  
  .overviewText {
    font-size: 32px;
    margin: 15px auto;
    padding: 0px;
  }
}