.banner {
  width: 100%;
  text-align: left;
}

.strong {
  font-weight: 400;
}
.bannerHeader {
  text-align: center;
  margin: 0px auto 60px auto;
  line-height: normal;
}

.overviewHeader {
  color: var(--text-color);
  margin: 10px auto;
  font-weight: bold;
  text-align: left;
}

.overviewText {
  font-family: var(--body-font-family);
  font-size: 16px;
}

@media (min-width: 1200px) {
  .bannerHeader {
    margin: 0px auto 100px auto;
  } 

  .overviewHeader {
    margin: 15px auto;
  }
  
  .overviewText {
    font-size: 32px;
    margin: 15px auto 0px;
    padding: 0px;
  }
}