.header {
  background-color: var(--header-color);
  height: 69px;
  width: 100%;
}

.headerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 37px 20px 34px;
  height: 100%;
  margin: 0px auto;
}

.headerNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.nav {
  display: flex;
  font-family: Inter;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--high-contrast-text);
  
  a {
    margin-right: 15px;
  }
  .navLink {
    text-decoration: underline;
    color: var(--white);
  }
}

.socialsContainer {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    height: 88px;
  }

  .headerBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 5px;
    max-width: 1440px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 207px;
  }

  .headerBody {
    padding: 0px 80px;
  }

  .logo {
    font-size: 40px;

    .eri {
      padding-right: 10px;
    }
  }

  .nav {
    font-size: 24px;
    margin-left: auto;

    a {
      margin-right: 30px;
    }
  }
}