.header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(256, 256, 256, 1);
}

.logo {
  width: 111px;
}

.headerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 32px;
  height: 100%;
  margin: 0px auto;
  // max-width: 1366px;
}

.logo {
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--title-font-family);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1;
  gap: 15px;
  color: var(--black);

  & a.navText {
    // color: var(--black);
    padding-top: 1px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }
  & a.navText:hover {
    // color: var(--accent-color);
    // text-decoration: underline;
    border-bottom: 1px solid var(--accent-color);
  }

}

.socialIcon {
  height: 22px;
}

.socialsContainer {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.socialIcon {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    & .socialIconImg {
      opacity: 0;
    }
    & .socialIconImgActive {
      opacity: 1;
    }
  }
  &:focus {
    outline: 0;
    & .socialIconImg {
      opacity: 0;
    }
    & .socialIconImgActive {
      opacity: 1;
    }
  }
}
.socialIconImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  transition: all 0.1s linear;
}
.socialIconImgActive {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: all 0.1s linear;
}

@media (min-width: 1000px) {
  .header {
    padding: 33px 0;
    margin: 0px auto;
  }

  .headerBody {
    padding: 0px 120px;
  }

  .logo {
    width: 137px;
  }

  .nav {
    font-size: 20px;
    margin-left: auto;
    gap: 25px;
  }

  .socialIcon {
    height: 24px;
  }
}