.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 20px 37px 20px 34px;
  background-color: var(--pine-green);
}

.watermark {
  font-family: PS-Paradizo;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;;
  color: var(--high-contrast-text);
}
