.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 20px 37px 20px 34px;
  background-color: var(--header-color);
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.watermark {
  font-family: PS-Paradizo;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;;
  color: var(--high-contrast-text);
}

.hamburgerMenu {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
   user-select: none; 
   background-color: transparent;
   border: 0;

  & span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--high-contrast-text);
    border-radius: 15px;;
  }
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav {
  position: relative;
}

.navDropdown {
  position: absolute;
  right: 0;
}