.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 20px 18px 0px;
  background-color: var(--header-color);
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.openHeader {
  background-color: var(--text-color);
}

.watermark {
  width: 82px;
  display: block;
  margin-right: 10px;
  flex-shrink: 0;
}

.hamburgerMenu {
  display: block;
  cursor: pointer;
  user-select: none; 
  background-color: transparent;
  border: none;
  padding: none;
  width: inherit;
  height: inherit;

  & span {
    display: block;
    width: 18px;
    height: 2px;
    margin: 3px 0px 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
    border-radius: 15px;;
  }
}
.active span {
  background-color: var(--background-color);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.nav {
  position: relative;
  height: 26px;
  width: 24px;
}

.nav2 {
  font-family: var(--title-font-family);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  gap: 8px;
}

.navDropdown {
  width: 100%;
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  color: var(--white);
  z-index: 100;
}