.profileContainer {
  float: left;
  margin-right: 16px;
  margin-bottom: 12px;
}

.profileImg {
  width: 104px;
  height: 124px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  
  & img {
    object-fit: cover;
    height: inherit;
    width: inherit;
  }
}

@media (min-width: 1200px) {
  .profileImg {
    width: 265px;
    height: 300px;
  }
  .text {
    font-size: 30px;
  }
  .profileContainer {
    margin-right: 37px;
  }
}