.main {
  max-width: var(--max-card-width);
}

.h1 {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-weight: normal;
  text-align: center;
}

.comingSoon {
  font-family: var(--card-subtext-font-family);
  font-size: var(--card-subtext-font-size);
  font-weight: bold;
  text-align: center;
  padding: 0px 25.9%;
  margin-top: 20px;
}

.comingText {
  padding: 62px 0px;
}

.article {
  // border-top-color: var(--greeny-blue);
  // border-bottom-color: var(--greeny-blue);
  // border-top-style: solid;
  // border-bottom-style: solid;
  // border-top-width: 20px;
  // border-bottom-width: 20px;
  margin: 20px auto 0px;
  color: var(--black);
  background-color: var(--white);
  padding: 30px 20px;

  h3 {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-family: var(--card-subtext-font-family);
    font-size: var(--card-subtext-font-size);
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}

@media (min-width: 768px) {
  .article {
    margin: 30px auto 0px;
    padding: 50px 26px;

    h3 {
      // font-size: 40px;
      margin-bottom: 10px;
    }

    p {
      // font-size: 22px;
    }
  }
  
  .comingSoon {
    padding: 0px 20.1%;
    margin-top: 30px;
    font-weight: 200;
    font-size: var(--card-title-font-size);
  }
  
  .comingText {
    padding: 260px 0px;
  }
}

@media (min-width: 1200px) {
  .article {
    margin: 60px auto 0px;
    padding: 60px 32px; // TODO: whats in sketch but seems off

    h3 {
    }

    p {
    }
  }

  .comingSoon {
    padding: 0px 20.1%;
    margin-top: 60px;
  }
}