.root {
  font-family: var(--title-font-family);
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  margin: 40px auto;
  width: 100%;
  text-align: center;
}

.contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  font-family: var(--title-font-family);
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px var(--accent-color);
  margin: 40px auto;
  text-decoration: none;
  color: var(--text-color);
  &:hover, &:focus {
    background-image: var(--pink-gradient);
    color: var(--white);
  }
}
