.navGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}
.header {
  color: var(--text-color);
  font-weight: 500;
}

.linkTile {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border: solid 1px var(--accent-color);
  background-color: var(--background-color);
  z-index: 1;
  height: 60px;
  // transition: all 0.5s linear;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--pink-gradient);
    z-index: -1;
    transition: opacity 0.25s linear;
    opacity: 0;
  }
  &:hover::before {
    opacity: 1;
  }
  
  &:hover {
    border: 0;
    padding: 1px;
    // color: var(--white);
  }

  & a {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    color: inherit;
    text-decoration: none;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: bold;
    padding-left: 25px;

    &:hover {
      color: inherit;
    }
  }
}
.anchorIcon {
  margin-right: auto;
}

.anchorText {
  margin-right: auto;
}

.img {
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
  transition: all 0.33s ease-in-out;
}

.active {
  opacity: 1 !important;
}

@media (min-width: 768px) {
  .navGrid {
    row-gap: 45px;
    column-gap: 55px;
  }
  .linkTile {
    height: 70px;
  }
}

@media (min-width: 1200px) {
  .navGrid {
    gap: 60px;
  }
  .linkTile {
    height: 100px;
  }

}