.egProject {
  width: 100%;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 304px;
}

.projectTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  font-family: var(--card-title-font-family);
  font-size: var(--card-title-font-size);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.projectDescription {
  font-family: var(--card-subtext-font-family);
  font-size: var(--card-subtext-font-size);
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.projectImgContainer {
  box-sizing: border-box;
  padding: 20px 0px;
  min-height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabSpacer {
  height: 0px;
  display: none;
}
.projectImg {
  max-width: 177px;
  max-height: 177px;
  // border-radius: 50%;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: var(--greeny-blue);
  // border: 0;
  position: relative;
  & img {
    // padding: 10px;
    width: inherit;
    height: inherit;
    object-fit: contain;
    max-height: inherit;
    position: relative;
    z-index: 1;
  }
  &:after {
    content: " ";
    width: 85%;
    height: 14%;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    background: none;
    border-radius: 50%;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: bottom 1.4s;
    transition: bottom 1.4s;
    z-index: 0;
  }
}

@media (min-width: 768px) {
  .egProject {
    height: 177px;
    min-height: 177px;
  }
  .projectTextContainer {
    justify-content: space-between;
    height: 100%;
    min-height: inherit;
  }

  .projectImgContainer {
    padding: 0px;
    min-height: unset;
  }

  .projectTitle {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .projectDescription {
    font-size: 22px;
    text-align: left;
  }
  .carnivalDesc {
    max-width: 325px;
  }
  .nintendoDesc {
    max-width: 330px;
  }

  .egProject {
    flex-direction: row;
    justify-content: space-between;
  }
  .projectHeader, .auraHeader{
    text-align: center;
    min-width: 215px;
  }

  .tabSpacer {
    height: 10px;
    display: block;
  }
  .projectImg {
    max-width: 238px;
    max-height: 177px;
    &:after {
      content: " ";
      width: 101%;
      height: 6px;
      position: absolute;
      bottom: 7px;
      left: 0;
      right: 0;
      margin: auto;
      background: none;
      border-radius: 50%;
      -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.6);
      -webkit-transition: bottom 1.4s;
      transition: bottom 1.4s;
      z-index: 0;
    }
  }
}

@media (min-width: 1200px) {
  .egProject {
    height: 239px;
    min-height: 239px;
  }
  .projectTitle {
    font-size: 36px;
    margin-bottom: 5px;
  }
  .auraHeader {
    margin-top: 20px;
  }

  .projectDescription {
    font-size: 24px;
  }
  .tabSpacer {
    height: 0px;
    display: none;
  }
  .carnivalDesc {
    max-width: 381px;
  }
  .nintendoDesc {
    max-width: 381px;
  }
  .projectImg {
    max-width: 327px;
    max-height: 239px;
    &:after {
      content: " ";
      width: 101%;
      height: 6px;
      position: absolute;
      bottom: 7px;
      left: 0;
      right: 0;
      margin: auto;
      background: none;
      border-radius: 50%;
      -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.6);
      -webkit-transition: bottom 1.4s;
      transition: bottom 1.4s;
      z-index: 0;
    }
  }

  .boxedLinkWrapper {
    margin-bottom: 20px;
  }
}