.egProject {
  width: 100%;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 304px;
}

.projectTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.projectDescription {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

@media (min-width: 768px) {
  .projectTitle {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .projectDescription {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .projectTitle {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .projectDescription {
    font-size: 24px;
  }
}