.egProject {
  width: 100%;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 304px;
}

.projectTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.projectDescription {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.projectImgContainer {
  box-sizing: border-box;
  padding: 20px 0px;
  min-height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabSpacer {
  height: 0px;
  display: none;
}

@media (min-width: 768px) {
  .egProject {
    height: 177px;
    min-height: 177px;
  }
  .projectTextContainer {
    justify-content: space-between;
    height: 100%;
    min-height: inherit;
  }

  .projectImgContainer {
    padding: 0px;
    min-height: unset;
  }

  .projectTitle {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .projectDescription {
    font-size: 22px;
    text-align: left;
  }
  .carnivalDesc {
    max-width: 325px;
  }
  .nintendoDesc {
    max-width: 330px;
  }

  .egProject {
    flex-direction: row;
    justify-content: space-between;
  }
  .auraTitle {
    text-align: center;
    min-width: 215px;
  }

  .tabSpacer {
    height: 10px;
    display: block;
  }
}

@media (min-width: 1200px) {
  .egProject {
    height: 239px;
    min-height: 239px;
  }
  .projectTitle {
    font-size: 32px;
    margin-bottom: 5px;
  }

  .projectDescription {
    font-size: 24px;
  }
  .tabSpacer {
    height: 0px;
    display: none;
  }
  .carnivalDesc {
    max-width: 381px;
  }
  .nintendoDesc {
    max-width: 381px;
  }
}