html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}
* {
  box-sizing: border-box;
}

:root {
  --high-contrast-text: #ffe1f5;
  --modal-text: #303032;
  --white: #ffffff;
  --black: #111010;
  --btn-background-color: #fff0ff;
  --btn-color: #303032;
  --background-color: #ffffff;
  --header-color: #ffffff;
  --footer-color: #e50c84;
  --title-font-family: 'Lora', serif;
  --title-font-size: 20px;
  --subtitle-font-family: 'Lato', sans-serif;
  --subtitle-font-size: 14px;
  --card-title-font-size: 18px;
  --card-title-font-family: 'Lora', serif;
  --card-subtext-font-size: 12px;
  --card-subtext-font-family: 'Lato', sans-serif;
  --link-font-size: 12px;
  --max-card-width: 918px;
  --case-study-hover-color: #fff0ff;

  // new variables
  --accent-color: #e50c84;
  --text-color: #111010;
  --body-font-family: 'Lato', sans-serif;
  --body-font-size: 14px;
  --link-font-family: 'Lato', sans-serif;
  --body-font-weight: 300;
  --pink-gradient: linear-gradient(to bottom, #f99cd9, #f0cfe4);
}

a {
  color: var(--accent-color);
}

a:hover, a:focus {
  color: var(--white);
}

button {
  transition: all 0.33s ease-in-out;
}

button:hover, button:focus {
  color: var(--white);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  color: var(--text-color), #000000;
}

h1 {
  font-family: var(--title-font-family);
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-family: var(--title-font-family);
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  margin: 40px auto;
  color: var(--accent-color);
  // color: var(--accent-color);
}

h3 {
  font-family: var(--title-font-family);
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}

h4 {
  font-family: var(--title-font-family);
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

p {
  font-family: var(--card-subtext-font-family);
  font-weight: 300;
  text-align: left;
  font-size: 14px;
}

img {
  max-width: 100%;
}

ul {
  // list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--card-subtext-font-family);
  font-weight: 300;
  text-align: left;
  font-size: 14px;

  & li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--accent-color); /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 25px; /* Also needed for space (tweak if needed) */
    margin-left: -25px; /* Also needed for space (tweak if needed) */
  }

  & li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 39px;
  }
}

.footer {
  width: 100%;
  height: 46px;
  background-color: var(--accent-color);
}

.divider {
  left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
  margin-top: 60px;
  margin-bottom: 60px;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
  height: 1px;
  background-color: rgba(229, 12, 132, 0.1);
}

.modal-open {
  overflow: hidden;
}

@media (min-width: 768px) {
  :root {
    --card-title-font-size: 36px;
    --card-subtext-font-size: 22px;
    --title-font-size: 36px;
    --subtitle-font-size: 14px;
    --link-font-size: 18px;
    --body-font-size: 18px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
    margin: 60px auto;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  p {
    font-size: 18px;
  }

  ul {
    font-weight: 300;
    font-size: 22px;
  
    & li::before {
      width: 25px; /* Also needed for space (tweak if needed) */
      margin-left: -25px; /* Also needed for space (tweak if needed) */
    }
  
    & li {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 39px;
    }
  }
  
  .divider {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  :root {
    --card-title-font-size: 36px;
    --card-subtext-font-size: 24px;
    --title-font-size: 40px;
    --subtitle-font-size: 28px;
    --link-font-size: 22px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    margin: 100px auto;
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 30px;
  }

  p {
    font-size: 28px;
  }

  ul {
    font-weight: 300;
    font-size: 28px;
  
    & li::before {
      width: 25px; /* Also needed for space (tweak if needed) */
      margin-left: -25px; /* Also needed for space (tweak if needed) */
    }
  
    & li {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 39px;
    }
  }
  .divider {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}