.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
}
.screenBounds {
  position: relative;
  width: inherit;
  height: inherit;
  max-width: 1440px;
  margin: 0 auto;
  cursor: pointer;
}
.closeButton {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 10px;
  z-index: 100;
  width: max-content;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
  background-color: transparent;
  border: 0;
  &:hover {
    & span {
      background-color: var(--white);
    }
  }

  & span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--high-contrast-text);
    border-radius: 15px;;
  }
  
  & span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  & span:nth-child(2) {
    transform: translateY(0px) rotate(-45deg);
  }
}

.outerBox {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.displayPhoto {
  max-width: 100%;
  max-height: 100%;

  // EXPERIMENTAL
  // objectPosition: '50% calc(100% - 65px)',
  // width: '100%',
  // height: '100%',
  // objectFit: 'contain',
}
.centerLB {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 0;
  padding-bottom: 20px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .closeButton {
    top: 50px;
    right: 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1em;
  }
  .closeImg {
    height: 24px;
  }
  .outerBox {
    padding-top: 50px;
  }
  .centerLB {
    justify-content: space-between;
    padding-bottom: 50px;
  }
  .imgContainer {
    padding: 50px;
  }
}
