.linkTile {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border: solid 1px var(--accent-color);
  background-color: var(--background-color);

  & a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-family: var(--link-font-family);
    font-size: var(--link-font-size);
    font-weight: bold;
    transition: all 0.1s linear;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px;

    &:hover,
    &:focus {
      color: var(--white);
      background-color: var(--accent-color);
    }
  }
}

@media (min-width: 1000px) {
  .linkTile {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border: solid 1px var(--accent-color);
    background-color: var(--background-color);

    & a {
      padding-left: 20px;
      padding-right: 20px;
      min-width: 134px;

      &:hover,
      &:focus {
        color: var(--white);
        background-color: var(--accent-color);
      }
    }
  }
}