.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: var(--greeny-blue);
  color: var(--black);

  padding: 20px 35px;
}

@media (min-width: 768px) {
  .container {
    padding: 36px 77px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 60px;
  }
}
