.container {
  height: 100%;
  padding: 0px 16px;
  margin: 0px auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 32px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 60px auto;
    max-width: 966px;
    padding: 0px;
  }
}
