.caseStudyItem {
  display: block;

  & h3 {
    text-align: left;
    width: fit-content;
    margin: 5px auto 5px 0px;
  }
}

.projectsOverviewImages {
  display: flex;
  justify-content: space-between;
  height: 166px;
  margin: 60px auto 80px auto;
  img:not(:first-child) {
    display: none;
  }
}

.projectOverviewImg {
  margin: 0px auto;
  height: 100%;
}
.caseStudyImg {
  position: relative;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%);
}

.nintendoTitleCard {
  width: 100%;
}
.mobileScrollFix {
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .projectsOverviewImages {
    height: 390px;
  }
  .caseStudyItem {
    & h3 {
      margin: 15px auto 15px 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    & p {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .caseStudyImg {
    margin: 60px 0px;
  }

  // Case study exclusive classes
  .nintendoTitleCard {
    width: 100%;
  }
}

.notInView {
  opacity: 0;
  transform: translateY(40px);
}

.inView {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s cubic-bezier(0.32, -0.04, 0.59, 1.11) forwards;
}

.notInViewRight {
  opacity: 0;
  transform: translateX(-60px);
}

.inViewRight {
  opacity: 0;
  transform: translateX(-60px);
  animation: fadeRight 1s cubic-bezier(0.32, -0.04, 0.59, 1.11) forwards;
}
.notInViewLeft {
  opacity: 0;
  transform: translateX(40px);
}

.inViewLeft {
  opacity: 0;
  transform: translateX(40px);
  animation: fadeLeft 1s cubic-bezier(0.32, -0.04, 0.59, 1.11) forwards;
}

.delay1 {
  animation-delay: 0.77s;
}

.delay2 {
  animation-delay: 1s;
}

.delay3 {
  animation-delay: .5s;
}

.delay4 {
  animation-delay: 1s;
}

@keyframes fadeLeft {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}