.root {

}

.h3 {
  
}

.linkContainer {
  height: 48px;
  width: fit-content;
  margin: auto;
}

.link {

}


@media (min-width: 1200px) {
  .root {
    margin-top: -100px;
  }

  .linkContainer {
    margin: 100px auto 0px;
  }
  
  .h3 {
    margin-bottom: 15px;
  }
}